<!DOCTYPE html>
<html>
	<head>
		<title>$watchGroup watcher for multiple variable</title>
		<script type="text/javascript" src="angular.min.js"></script>
	</head>
	<body ng-app="myapp" ng-controller="c1">
		<script type="text/javascript">
			angular.module("myapp",[])
			.controller("c1",function($scope){
				$scope.x=200;
				$scope.y=300;
				$scope.z=$scope.x+$scope.y
				$scope.$watchGroup(["x","y"],function(){
					$scope.z=parseInt($scope.x)+parseInt($scope.y)
				})


			})
		</script>
		<input type="text" name="" ng-model="x"><br>
		<input type="text" name="" ng-model="y"><br>
		<input type="text" name="" ng-model="z">

	</body>
</html>