input[type=text]{
	width: 15em;
	border-radius: 7px;
}
input[type=password]{
	width: 15em;
	border-radius: 7px;
}
input[type=number]{
	width: 15em;
	border-radius: 7px;
}
input[type=email]{
	width: 15em;
	border-radius: 7px;
}
.main{
	width: 350px;
	height: 600px;
	position: relative;
	left: 38%;
	top: 20%;
	border:2px solid orange;
	margin: 10px;
	padding: 10px;
}
span{
	color: red;
}
input.ng-touched{
color:blue;
}

